
.AboutHeader{
    width: 100%;
    height: 10rem;
}
.title.color{
    color: rgb(0, 0, 0);
}
.title span{
    max-width: 30rem;
    font-size:  45px;
    font-weight: 550;
}
.AboutHeader .Ahr{
    background-color: #000;
    width: 15rem;
    margin-left: 42%;
}