.button2{
    cursor: pointer;
    width: 70%;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: .4rem;
    border-radius: 30px;
    border: 1px solid white;
    justify-content: center;
    background-color: rgb(93, 60, 24);
    transition: all .3s ease-out;
}
.button2:hover{
    background-color: white;
    color: rgb(93, 60, 24);
}